/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #D64500;
  --ifm-color-primary-dark: #BF3e00;
  --ifm-color-primary-darker: #B33900;
  --ifm-color-primary-darkest: #942f00;
  --ifm-color-primary-light: #f04d00;
  --ifm-color-primary-lighter: #ff5a0d;
  --ifm-color-primary-lightest: #ff7b40;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff8700;
  --ifm-color-primary-dark: #e67a00;
  --ifm-color-primary-darker: #d97300;
  --ifm-color-primary-darkest: #b35f00;
  --ifm-color-primary-light: #ff931a;
  --ifm-color-primary-lighter: #ff9f33;
  --ifm-color-primary-lightest: #ffb35c;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
